body, h1, h2, p {
    margin: 0;
    padding: 0;
  }

.page-title {
    background-color: black;
    font-family: 'Arial', Arial;
    font-weight:bold;
    color: white;
    text-align: left;
    padding: 10px;
  }
 
  h2 {
    font-family: 'Arial', Arial;
    font-size: medium;
    padding: 10px;
  }

.container {
    display: flex;
    max-width: 100%; 
    max-height: 100%;
    margin: 0px; 
    padding: 0px; 
    overflow:hidden; 
max-width: fit-content;
  }

  .column {
    box-sizing: border-box; 
    float: left; 
    width: 100%;
    padding: 0px; 
  }

  .column:nth-child(1),
  .column:nth-child(2) {
    width: calc(40%); 
  }

  .column:nth-child(1){
    max-width: 200px;
    overflow: scroll;
  }
  .column:nth-child(2){
    max-width: 350px; 
    padding-left: 15px;
    padding-top: 15px;
  }
  
  .column {
    background-color: #f0f0f0;
    border: 5px solid black;
    margin: 0px;
    text-align: left;
    max-width: fit-content;
  }

  .column ul {
    padding: 0%;
  }
  
  .column img {
    width: 100%; 
    max-width: none; 
    display: block; 
    margin: 0; 
    padding: 0%;
  }

  

  .column-2{
    background-color: #f0f0f0;
    border: 5px solid black;
    margin: 0px;
    text-align: left;
    max-width: fit-content;
    margin-left: 30px;
    margin-right: 30px;
  }